body.preloader-active {
    overflow-y: scroll;     
    position: fixed;          
    width: 100%;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #18122D;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.4s ease, visibility 0.5s ease;
}

#preloader img {
    width: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#preloader.hidden {
    opacity: 0;
    visibility: hidden;

}